* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --color-primary: #644cbd;
  --color-primary-dark: #7644b6;
  --color-primary-light: #a7a8ff71;
  --color-area: #fcf6ff;
  --color-shadow: #88848a;
}

body {
  background-color: var(--color-area);
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: var(--color-white);
}

.header-title {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  padding: 10px 20px;
  text-shadow: 3px 3px var(--color-primary-light);
}
.header-menu {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 10px 20px;
}

header a {
  color: var(--color-primary-dark);
  text-decoration: none;
  margin-right: 10px;
  transition: box-shadow 0.3s;
}
header a:hover {
  text-shadow: 0 0 5px var(--color-primary);
}
header a.active {
  text-shadow: 0 0 5px var(--color-primary);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 20px 0; */
  padding: 0 20px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.date a {
  cursor: pointer;
}

.date div {
  margin: 0 10px 0 10px;
}

.todoDate {
  min-height: 300px;
  max-width: 350px;
}

.addTodo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoInput {
  width: 300px;
  height: 30px;
  margin-right: 10px; 
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.addTodoBtn {
  width: 30px;
  height: 30px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.1s;
}
.addTodoBtn:hover {
  box-shadow: 0 0 5px var(--color-primary); /* primary 시 그림자 효과 추가 */
}

.todoList {
  list-style-type: none;
  padding: 0 10;
  font-size: 18px;
}

.todoList li {
  border-bottom: 0.5px solid rgb(209, 209, 209);
}

.deleteTodo {
  cursor: pointer;
  float: right;
  color: var(--color-primary);
  font-weight: 600;
  margin-left: 5px;
  transition: color 0.1s;
}
.deleteTodo:hover {
  color: var(--color-primary-light); /* 호버 시 링크 색상 변경 */
}

.completed {
  border-top: 1px solid #000;
  width: 100px;
}

.completed h3 {
  margin-top: 5px;
  text-align: center;
}

.week-table {
  display: flex;
  border: 1px solid #000;
  border-radius: 15;
  box-shadow: 5px 5px var(--color-shadow);
  background-color: white;
}

.week-row {
  width: 150px;
  padding: 10px 20px;
  border-right: 1px solid #000;
}

.week-row h2 {
  border-bottom: 1px solid #000;
  margin: 5px 0;
  text-align: center;
}

.week-row:last-child {
  border: none;
}

.week-row li {
  font-size: 12px;
  margin-bottom: 5px;
  border-bottom: 0.5px solid rgb(209, 209, 209);
}

.week-day {
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width: 720px) {
  .week-table {
    display: grid;
  }
  .week-row {
    width: 230px;
    min-height: 150px;
    border: none;
  }
}

.month {
  display: table;
  background-color: white;
  border-radius: 15;
  box-shadow: 5px 5px var(--color-shadow);
}

.month-table {
  display: flex;
  border-radius: 15px 15px 0 0;
  border: 1px solid #000;
}

.month-row {
  width: 150px;
  height: 50px;
  padding: 0;
  border-right: 1px solid #000;
  display: flex;
  justify-content: center;
}

.month-row:last-child {
  border-right: none;
}

.month-row h2 {
  margin: 0;
  align-content: center;
}

.week {
  display: flex;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.week:nth-child(2) {
  justify-content: flex-end;
  /* border-left: 1px solid #000; */
}

.week:last-child {
  border-radius: 0 0 15px 15px;
}

.day {
  width: 150px;
  min-height: 100px;
  border-left: 1px solid #000;
  /* border-right: 1px solid #000; */
}

.day .todoList li {
  font-size: 12px;
  margin-bottom: 5px;
}

.day h3 {
  text-align: center;
  margin: 5px 0 0 0;
}

.week .day:first-child {
  border-left: none;
}

.week:nth-child(2) .day:first-child {
  border-left: 1px solid #000;
}

.week:last-child .day:last-child {
  border-right: 1px solid #000;
}

@media (max-width: 768px) {
  .month-row, .day {
    width: calc(100% / 7); /* 화면 너비를 기준으로 칸 너비 설정 */
  }

  .month-row {
    font-size: 10px; /* 폰트 크기 축소 */
    height: 30px; /* 행 높이 축소 */
  }

  .day {
    min-height: 60px; /* 최소 높이 축소 */
  }

  .day h3 {
    margin: 0 18px;
    font-size: 12px; /* 폰트 크기 축소 */
  }
    
  .day .todoList li {
    font-size: 8px; /* 폰트 크기 축소 */
  }

  .day .todoList li input {
    font-size: 4px;
    padding: 1px;
  }
}

footer {
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}
footer a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  font-size: 20px;
  font-weight: 500;
}
footer a:hover {
  color: var(--color-primary-light); /* 호버 시 링크 색상 변경 */
}